<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul id="department">
                        <li><a href="#">Fresh Meat</a></li>
                        <li><a href="#">Vegetables</a></li>
                        <li><a href="#">Fruit &amp; Nut Gifts</a></li>
                        <li><a href="#">Fresh Berries</a></li>
                        <li><a href="#">Ocean Foods</a></li>
                        <li><a href="#">Butter &amp; Eggs</a></li>
                        <li><a href="#">Fastfood</a></li>
                        <li><a href="#">Fresh Onion</a></li>
                        <li><a href="#">Papayaya &amp; Crisps</a></li>
                        <li><a href="#">Oatmeal</a></li>
                        <li><a href="#">Fresh Bananas</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Blog Details Hero Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog__details__hero__text">
                    <h2>@Model.Title</h2>
                    <ul>
                        <li>By @Model.AuthorName</li>
                        <li>@Model.CreatedDate.ToString("MMM d, yyyy")</li>
                        <li>8 Comments</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero End -->

<!-- Blog Details Section Begin -->
<section class="blog-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 order-md-1 order-2">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Categories</h4>
                        <ul id="blog-category">
                            <li><a href="#">All</a></li>
                            <li><a href="#">Beauty (20)</a></li>
                            <li><a href="#">Food (5)</a></li>
                            <li><a href="#">Life Style (9)</a></li>
                            <li><a href="#">Travel (10)</a></li>
                        </ul>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        <div class="blog__sidebar__recent" id="recent-news">
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/sidebar/sr-1.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>09 Kinds Of Vegetables<br /> Protect The Liver</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/sidebar/sr-2.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>Tips You To Balance<br /> Nutrition Meal Day</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                            <a href="#" class="blog__sidebar__recent__item">
                                <div class="blog__sidebar__recent__item__pic">
                                    <img src="img/blog/sidebar/sr-3.jpg" alt="">
                                </div>
                                <div class="blog__sidebar__recent__item__text">
                                    <h6>4 Principles Help You Lose <br />Weight With Vegetables</h6>
                                    <span>MAR 05, 2019</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="blog__sidebar__item">
                        <h4>Search By</h4>
                        <div class="blog__sidebar__item__tags" id="tags">
                            <a href="#">Apple</a>
                            <a href="#">Beauty</a>
                            <a href="#">Vegetables</a>
                            <a href="#">Fruit</a>
                            <a href="#">Healthy Food</a>
                            <a href="#">Lifestyle</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7 order-md-1 order-1">
                <div class="blog__details__text" id="post-content">
                    @Html.Raw(Model.Content)
                </div>
                <div class="blog__details__content">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="blog__details__author">
                                <div class="blog__details__author__pic">
                                    <img src="@Model.Avatar" alt="">
                                </div>
                                <div class="blog__details__author__text">
                                    <h6>@Model.AuthorName</h6>
                                    <span>@Model.AuthorRole</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="blog__details__widget">
                                <ul>
                                    <li><span>Categories:</span> @Model.Category</li>
                                    <li>
                                        <span>Tags:</span>
                                        @{
                                            var tag = "";
                                            foreach (var item in Model.Tag)
                                            {
                                                tag += item + ", ";
                                            }
                                            if (tag.Length > 0) tag = tag.Remove(Math.Max(0, tag.Length - 2));
                                            @tag
                                        }
                                    </li>
                                </ul>
                                <div class="blog__details__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-linkedin"></i></a>
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Section End -->

<!-- Related Blog Section Begin -->
<section class="related-blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related-blog-title">
                    <h2>Post You May Like</h2>
                </div>
            </div>
        </div>
        <div class="row" id="related-post">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-1.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Cooking tips make cooking simple</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-2.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="blog__item">
                    <div class="blog__item__pic">
                        <img src="img/blog/blog-3.jpg" alt="">
                    </div>
                    <div class="blog__item__text">
                        <ul>
                            <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                            <li><i class="fa fa-comment-o"></i> 5</li>
                        </ul>
                        <h5><a href="#">Visit the clean farm in the US</a></h5>
                        <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Related Blog Section End -->


@section Scripts{
    <script>
        // category
        $.ajax({
            url: "/Home/GetAllCategories",
            type: "GET",
            dataType: "json",
            beforeSend: function(){},
            success: function(data){
                $('#department').html('');
                $('#department').append('<li><a href="/ShoppingGrid/Index" class="category">All</a></li>');
                data.forEach(function (item,index){
                    let row = `<li><a href="/ShoppingGrid/Index?id=${item.id}" class="category">${item.name}</a></li>`;
                    $('#department').append(row);
                })
            },
            error: function(){},
            complete: function(){}
        });

        // category của blog
        $.ajax({
            url: "/Blog/GetCategoryBlog",
            type: "GET",
            dataType: "json",
            beforeSend: function(){},
            success: function(data){
                $('#blog-category').html('');
                $('#blog-category').append('<li><a href="/Blog/Index">All</a></li>');
                data.forEach(function (item,index){
                    let row = `<li><a href="/Blog/Index?arg=${item.id}">${item.name} (${item.postQuantity})</a></li>`;
                    $('#blog-category').append(row);
                })
                console.log( $('#blog-category').html())
            },
            error: function(){},
            complete: function(){}
        });

        // tin tức mới nhất
        $.ajax({
            url: "/Blog/GetRecentNews",
            type: "GET",
            dataType: "json",
            beforeSend: function(){},
            success: function(data){
                $('#recent-news').html('');
                data.forEach(function (item,index){
                    var words = item.title.split(" ");
                    var a = "", b = "";
                    for (let i = 0; i < words.length/2; ++i){
                        a += words[i].charAt(0).toUpperCase() + words[i].substring(1) + " ";
                    }
                    for (let i = parseInt(words.length/2); i < words.length; ++i){
                        b += words[i].charAt(0).toUpperCase() + words[i].substring(1) + " ";
                    }
                    let row = `<a href="/Blog/PostDetail?id=${item.id}" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="${item.postAvatarFilePath}" style="width:70px; height:70px;" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>${a}<br /> ${b}</h6>
                                        <span>${item.createdDate}</span>
                                    </div>
                                </a>`;
                    $('#recent-news').append(row);
                });
            },
            error: function(){},
            complete: function(){}
        });

        // tags
        $.ajax({
            url: "/Blog/GetAllTags",
            type: "GET",
            dataType: "json",
            beforeSend: function(){},
            success: function(data){
                $('#tags').html('');
                data.forEach(function (item,index){
                    let row = `<a href="/Blog/Index?arg=${item.slug}">${item.name}</a>`;
                    $('#tags').append(row);
                })
            },
            error: function(){},
            complete: function(){}
        });

        // related-post
        $.ajax({
            url: "/BlogDetail/GetRelatedPost?id=" + @Html.Raw(Json.Serialize(Model.Id)),
            type: "GET",
            dataType: "json",
            beforeSend: function(){},
            success: function(data){
                $('#related-post').html('');
                data.forEach(function (item,index){
                    let row =  `<div class="col-lg-4 col-md-4 col-sm-6">
                                    <div class="blog__item">
                                        <div class="blog__item__pic">
                                            <img src="${item.postAvatarFilePath}" alt="">
                                        </div>
                                        <div class="blog__item__text">
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> ${item.createdDate}</li>
                                                <li><i class="fa fa-comment-o"></i> 5</li>
                                            </ul>
                                            <h5><a href="/BlogDetail/Post?id=${item.id}">${item.title}</a></h5>
                                            <p>${item.description}</p>
                                        </div>
                                    </div>
                                </div>`;
                    $('#related-post').append(row);
                })
            },
            error: function(){},
            complete: function(){}
        });

    </script>
}